.vactime{
    background-color: #fff;
}
/***************************日历样式start**************************************/
.calendar .cal_title table{
    margin:0 auto;
}
.calendar .cal_title a{
    display: inline-block;
    width:25px;
    height:25px;
    position: relative;
    vertical-align: middle;
    margin:10px;
}
.calendar .cal_title a img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
.calendar .calendarTb{
    width:100%;
    text-align: center;
    padding-bottom: 20px;
}
.calendar .calendarTb font{
    font-size: 15px;
    display: inline-block;
    width:26px;
    height:26px;
    line-height: 26px;
    border-radius: 13px;
}
.calendar .calendarTb tr{
    height:30px;
}
.calendar .calendarTb td .cal_othermonth{
    color:#9c96a3;
}
.calendar .calendarTb td .cal_holiday{
    color:#9c96a3;
}
/***************************日历样式start**************************************/
.time_interval{
    padding:0px 20px 20px 20px;  
}
.time_interval>div{
    height:40px;
    line-height: 40px;
    display: none;
}
.time_interval a{
    display: inline-block;
    width:70px;
    height:30px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    color:#fff;
}

.time_interval span{
    float: left;
    width:30px;
    height:30px;
    font-size: 18px;
    font-weight: bold;
}

.time_detail .selected_result{
    display: none;
}
.time_detail,.submit_btn{
    padding:10px 0px;
    background-color: #efefef;
}
.time_detail>div{
    line-height: 30px;
    text-align: center;
}
.time_detail>div .title{
    display: inline-block;
    width:80px;
    text-align: right;
}
.time_detail>div .content{
    display:inline-block;
    width:100px;
}
.time_detail a{
    text-decoration: underline;
    color:blue;
}
.submit_btn{
    text-align: center;
}
.submit_btn a{
    display: inline-block;
    width:30%;
    height:40px;
    line-height: 40px;
    text-align: center;
    background-color: #6baabb;
    color:#fff;
    margin:0px 5%;
    border-radius: 5px;
}
/*上午背景色--橙色*/
.mor_selected{
    background-color: #f08200;
}
.aft_selected{
    background-color: #2188c8;
}
.all_selected{
    background-color: #6baabb;
}
